<div *ngIf="citas.length == 0" >
    <div class="nohaycita mt-5 mb-5">
        <p class="text-center">Ups! Parece que de momento 
no tienes ninguna cita</p>
        <h3 class="text-center">¿Quieres añadir una nueva cita?</h3>
        <div class="boton">
            <button class="btn mt-4 mb-4" type="button" routerLink="/citaprevia">REGISTRAR NUEVA CITA</button>
        </div>
    </div>
</div>


<div class="container row" >
  <div class="card text-center container-fluid col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-2 mb-2" *ngFor="let cita of citas">
          
      <div class="card-body " >
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i><br><br>
          <p class="card-text bold">Cita nº {{cita.id}}</p>
          <hr>
          <p class="card-text">Fecha: {{cita.fecha}}</p>
          <p class="card-text">Mascota: {{cita.mascota.nombre}}</p>
          <button class="btn borrar m-1" (click)="borrarCita(cita.id)">Borrar</button>
      </div>
  </div>
</div>

<app-ubicacion info="MIS CITAS"></app-ubicacion>



<div class="boton">
    <button class="btn mt-4 mb-4" type="button" routerLink="/areasocios/opciones">Regresar a Opciones</button>
</div>
