<div *ngIf="mascota.length == 0" >
    <div class="nohaymascota mt-5 mb-5">
        <p class="text-center texto">Ups! Parece que de momento 
no tienes ninguna mascota registrada</p>
        <h3 class="text-center">¿Quieres registrar a tu pequeño amigo?</h3>
        <div class="boton">
            <button class="btn mt-4 mb-4" type="button" routerLink="/areasocios/registromascota">REGISTRAR NUEVA MASCOTA</button>
        </div>
    </div>
</div>





<div class="container row" >
    <div class="card text-center container-fluid col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-2 mb-2" *ngFor="let mascota of mascota">
            
        <div class="card-body " >
            <p class="card-text bold"><i class="fa fa-paw" aria-hidden="true"></i>  {{mascota.nombre}}  <i class="fa fa-paw" aria-hidden="true"></i></p>
            <hr>
            <p class="card-text">CHIP: {{mascota.chip}}</p>
            <p class="card-text">ESPECIE: {{mascota.especie}}</p>
            <p class="card-text">RAZA: {{mascota.raza}}</p>
            <p class="card-text">PELAJE: {{mascota.pelaje}}</p>
            <p class="card-text">SEXO: {{mascota.sexo}}</p>
            <button type="button" class="btn editar" routerLink="{{mascota.chip}}/historial">Ver Historial</button>
        </div>
    </div>
</div>

<app-ubicacion info="MI MASCOTA"></app-ubicacion>



<div class="boton">
    <button class="btn mt-4 mb-4" type="button" routerLink="/areasocios/opciones">Regresar a Opciones</button>
</div>

