

<h1 class="mt-3 text-center " ><strong>BIENVENID@ {{email}}</strong></h1>
<div class="container-fluid mt-4">
    <div class="row">
      <div class="imagenNosotros col-lg-6">
        <img id="imagenes" src="./assets/img/segundologo.png" alt="logotipo de la clínica Dogtor">
        </div>
        <div class="texto col-lg-5 text-center">
            <p class="mt-3">ESTE ES EL PERFÍL DE ADMINISTRACIÓN DE DOGtor</p>
            <p>¿Qué quieres hacer?</p>
            <a class="btn btn-primary" routerLink="/administrador/gestionusuarios" role="button">Gestión Usuarios</a> <br><br>
            <a class="btn btn-primary" routerLink="/administrador/gestionservicios" role="button">Gestión Servicios</a> <br><br>
            <a class="btn btn-primary" routerLink="/administrador/gestioncomentarios" role="button">Gestión Comentarios</a> <br><br>
            <a class="btn btn-primary" routerLink="/administrador/gestioncitas" role="button">Gestión Citas</a><br><br>
        </div>
    </div>
</div>