.card{
    background-color: #FAE4CF;
    border-radius: 10%;
}
img{
    width: 20%;
}
.card-text{
    font-weight: bold;
}
.container-fluid{
    padding-right:0px;
}
.boton{
    text-align: right;
}
.publicar{
    text-align: right;
    background-color: #E9BB97;
    border-color: #E9BB97;
    color: black;
}
.publicar:hover{
    background-color: #a07351;
    border-color: #a07351;
    color: white;
}
.nuevousu{
    margin: auto;
    background-color: #999966;
    color: white;
}
.nuevousu:hover{
    background-color: #d6d69a;
    color: black;
}
.modal-content{
    background-color: #FAE4CF;
}
input{
    background-color: #FAE4CF;
}
.borrar{
    background-color: brown;
    color: white;
}
.borrar:hover{
    background-color: rgb(232, 59, 59);
}
.editar{
    background-color: #60602b;
    color: white;
}
.editar:hover{
    background-color: #979748;
}
.mascotas{
    background-color: #ba855c;
    color: white;
}
.mascotas:hover{
    background-color: #814d26;
    color: white;
}
.citas{
    background-color: #6a8154;
    color: white;
}
.citas:hover{
    background-color: #485839;
    color: white;
    
}
.iconoeditar{
    width: 15px;
}
table{
    background-color: #FAE4CF;
    border-color: #b07f51;
}
th{
    color: #000000;
}
.nohay{
    background-color:#FAE4CF;
    width: 60%;
    margin: auto;
    border-radius: 15px;
}
.icono{
    text-align: center;

}
.fa-exclamation-circle{
    color: balck;
}
.informe{
    text-align: center;
    background-color: #60602b;
    border-color: #60602b;
    color: white;
}
.informe:hover{
    background-color: #979748;
    border-color: #979748;
    color: black;
}