


<div class="container-fluid text-center">
  <h1>GESTIÓN DE SERVICIOS</h1>

  <div class="boton">
    <button class="btn btn-primary publicar" data-bs-toggle="modal" data-bs-target="#examplemo" id="mimodal">
      <i class="fa fa-plus" aria-hidden="true"></i> 
      Publicar nuevo Servicio
    </button><br><br>
  </div>

  </div>

  <div *ngIf="listaservicios.length == 0" >
    <div class="nohaycomentario mt-5 mb-5">
        <h1 class="text-center texto">Ups!</h1>
        <h1 class="text-center texto">Parece que de momento no hay ningún servicio registradp en el sistema.</h1><br><br>
      <div class="icono">
        <i class="fa fa-exclamation-circle fa-5x mb-5" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center" *ngIf="listaservicios.length > 0" >
    <button type="button" class="btn btn-primary informe m-3" (click)="obtenerInforme()">
      Obtener Informe
     </button>

  <table class="table mb-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col"><i class="fa fa-trash" aria-hidden="true"></i></th>
          <th scope="col"><img class="iconoeditar" src="../../../assets/img/lapiz.png" alt=""></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serv of listaservicios">
          <th scope="row">{{serv.referencia}}</th>
          <td>{{serv.nombre}}</td>
          <td>{{serv.descripcion}}</td>
          <td>{{serv.precio}} €</td>
          <td><button type="button" class="btn btn-primary borrar" (click)="borrarServicio(serv.referencia)">Borrar</button></td>
          <td>
            <button type="button" class="btn btn-primary editar" 
            data-bs-toggle="modal" data-bs-target="#exampleModal" id="myModal" (click)="obtenerDatosEdicion(serv.referencia)">
             Editar
            </button>
          </td>
          
        </tr>
      </tbody>
  </table>
  

</div>


  <div class="modal fade" id="exampleModal" tabindex="-1" 
                aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4>Editar el servicio nº{{referenciaServicioAEditar}}</h4>
            </div>
            <div class="modal-body">
              <div class="formulariologin mt-2 mb-2">

                <div class=" mt-2">
                  <form [formGroup]="miFormulario" >
                    <div class="form-floating mt-2">
                      <input class="form-control" id="nombre" formControlName="nombre" type="text" value="{{nombreServicioAEditar}}">
                      <span class="form-text text-danger" *ngIf="miFormulario.controls['nombre'].errors && miFormulario.controls['nombre'].touched">Debe introducir un nombre correcto</span>
                      <label for="nombre" class="text-dark">Nombre</label>
                    </div>
                    <div class="form-floating mt-2">
                      <input class="form-control" id="descripcion" formControlName="descripcion" type="text" value="{{descripcionServicioAEditar}}">
                      <span class="form-text text-danger" *ngIf="miFormulario.controls['descripcion'].errors && miFormulario.controls['descripcion'].touched">Debe introducir una descripción correcta</span>
                      <label for="descripcion" class="text-dark">Descripción</label>
                    </div>
                    <div class="form-floating mt-2">
                      <input class="form-control" id="pre" formControlName="precio" type="text" value="{{tarifaServicioAEditar}}">
                      <span class="form-text text-danger" *ngIf="miFormulario.controls['precio'].errors && miFormulario.controls['precio'].touched">Debe introducir un precio correcto</span>
                      <label for="pre" class="text-dark">Precio</label>
                    </div>
                    <br>
                    <button class="btn editar" (click)="editarServicio(referenciaServicioAEditar)" [disabled]="miFormulario.invalid" type="submit">Editar servicio</button>
                  </form>
                </div>  
            </div>
            </div>      
        </div>
    </div>
</div>

<div class="modal fade" id="examplemo" tabindex="-1" 
                aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4>Publicar un nuevo servicio</h4>
            </div>
            <div class="modal-body">
              <div class="formulariologin mt-2 mb-2">

                <div class=" mt-2">
                  <form [formGroup]="miFormularioPublicado" >
                    <div class="form-floating mt-2">
                      <input class="form-control" id="nom" formControlName="nombre" type="text">
                      <span class="form-text text-danger" *ngIf="miFormularioPublicado.controls['nombre'].errors && miFormularioPublicado.controls['nombre'].touched">Debe introducir un nombre correcto</span>
                      <label for="nom" class="text-dark">Nombre</label>
                    </div>
                    <div class="form-floating mt-2">
                      <input class="form-control" id="des" formControlName="descripcion" type="text">
                      <span class="form-text text-danger" *ngIf="miFormularioPublicado.controls['descripcion'].errors && miFormularioPublicado.controls['descripcion'].touched">Debe introducir una descripción correcta</span>
                      <label for="des" class="text-dark">Descripción</label>
                    </div>
                    <div class="form-floating mt-2">
                      <input class="form-control" id="pr" formControlName="precio" type="text">
                      <span class="form-text text-danger" *ngIf="miFormularioPublicado.controls['precio'].errors && miFormularioPublicado.controls['precio'].touched">Debe introducir una descripción correcta</span>
                      <label for="pr" class="text-dark">Precio</label>
                    </div>
                    <br>
                    <button class="btn publicarservicio" (click)="publicarServicio()" [disabled]="miFormularioPublicado.invalid" type="submit">Publicar nuevo servicio</button>
                  </form>
                </div>  
            </div>
            </div>      
        </div>
    </div>
</div>




