.editar{
    background-color: #e0b48a;
    color: black;
    border-color: #e0b48a;
}
.editar:hover{
    background-color: #b07f51;
    border-color: #b07f51;
    color: white;
}
.borrar{
    background-color: brown;
    border-color: brown;
    color: white;
}
.borrar:hover{
    background-color: rgb(78, 21, 21);
    border-color: rgb(78, 21, 21);
    color: white;
}
.publicar{
    text-align: right;
    background-color: #E9BB97;
    border-color: #E9BB97;
    color: black;
}
.publicar:hover{
    background-color: #a07351;
    border-color: #a07351;
    color: white;
}
table{
    background-color: #FAE4CF;
    border-color: #b07f51;
}
th{
    color: #000000;
    text-align: center;
}
.boton{
    text-align: right;
}
.iconoeditar{
    width: 15px;
    
}
.modal-content{
    background-color: #FAE4CF;
}
input{
    background-color: #FAE4CF;
}
.publicarservicio{
    background-color: #999966;
    color: white;
}
.publicarservicio:hover{
    background-color: #d6d69a;
    color: black;
}
.editar{
    background-color: #60602b;
    color: white;
}
.editar:hover{
    background-color: #979748;
}
.nohay{
    background-color:#FAE4CF;
    width: 60%;
    margin: auto;
    border-radius: 15px;
}
.icono{
    text-align: center;

}
.fa-exclamation-circle{
    color: balck;
}