<div class="container-fluid row text-center" >
    <h1>MASCOTAS DEL USUARIO {{idUsu}} </h1>
    <div class="boton">
        <button class="btn btn-primary volver" (click)="volver()"> Volver a Gestión Usuarios</button><br><br>
    </div>
    <div class="boton">
        <button type="button" class="btn btn-primary volver"
        data-bs-toggle="modal" data-bs-target="#example" id="mymo"><i class="fa fa-plus" aria-hidden="true"></i>  Nueva Mascota</button><br><br>
    </div>

    <div *ngIf="mascotas.length == 0" >
        <div class="nohay mt-5 mb-5">
            <h1 class="text-center texto">Ups!</h1>
            <h1 class="text-center texto">Parece que de momento {{idUsu}} no tiene ninguna mascota registrada</h1><br><br>
        <div class="icono">
            <i class="fa fa-exclamation-circle fa-5x mb-5" aria-hidden="true"></i>
        </div>
        </div>
    </div>


    <div  *ngIf="mascotas.length > 0" class="container-fluid row text-center mb-5" >
        
        <div class="card text-center container-fluid col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-2 mb-2" *ngFor="let mascota of mascotas">
            
            <div class="card-body " >
                <p class="card-text bold"><i class="fa fa-paw" aria-hidden="true"></i>  {{mascota.nombre}}  <i class="fa fa-paw" aria-hidden="true"></i></p>
                <hr>
                <p class="card-text">CHIP: {{mascota.chip}}</p>
                <p class="card-text">ESPECIE: {{mascota.especie}}</p>
                <p class="card-text">RAZA: {{mascota.raza}}</p>
                <p class="card-text">PELAJE: {{mascota.pelaje}}</p>
                <p class="card-text">SEXO: {{mascota.sexo}}</p>
                <button class="btn borrar" (click)="borrarMascota(mascota.chip)" >Borrar</button>
                <button type="button" class="btn editar"
                data-bs-toggle="modal" data-bs-target="#exampleModal" id="myModal" (click)="obtenerDatosMascotaAEditar(mascota.chip)">Editar</button>
                <button type="button" class="btn ver" routerLink="mascota/{{mascota.chip}}/historial">Historial</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4>Editar a la Mascota {{nombreMascota}}</h4>
            </div>
            <div class="modal-body">
              <div class="formulariologin mt-2 mb-2">

                <div class=" mt-2">
                    <form [formGroup]="miFormularioEditado">
                        <div class="col-lg-12">
                          <div class="form-floating mt-2">
                              <input class="form-control" id="nombreedi" formControlName="nombre" type="text" value="{{nombreMascota}}">
                              <span class="form-text text-danger" *ngIf="miFormularioEditado.controls['nombre'].errors 
                              && miFormularioEditado.controls['nombre'].touched">El nombre no es correcto</span>
                              <label for="nombreedi" class="text-dark">Nombre</label>
                          </div>
                          <div class="form-floating mt-2">
                            <input class="form-control" id="especieedi" formControlName="especie"type="text" value="{{especieMascota}}">
                            <span class="form-text text-danger" *ngIf="miFormularioEditado.controls['especie'].errors 
                            && miFormularioEditado.controls['especie'].touched">La especie no es correcta</span>
                            <label for="especiesedi" class="text-dark">Especie</label>
                          </div>
                          <div class="form-floating mt-2">
                            <input class="form-control" id="pelajeedi" formControlName="pelaje" type="text" value="{{pelajeMascota}}">
                            <span class="form-text text-danger" *ngIf="miFormularioEditado.controls['pelaje'].errors 
                            && miFormularioEditado.controls['pelaje'].touched">El pelaje no es correcto</span>
                            <label for="pelajeedi" class="text-dark">Pelaje</label>
                          </div>
                          <div class="form-floating mt-2">
                            <input class="form-control" id="sexoedi" formControlName="sexo" type="text" value="{{sexoMascota}}">
                            <span class="form-text text-danger" *ngIf="miFormularioEditado.controls['sexo'].errors 
                            && miFormularioEditado.controls['sexo'].touched">el sexo no es correcto</span>
                            <label for="sexoedi" class="text-dark">Sexo</label>
                          </div>
                          <div class="form-floating mt-2">
                            <input class="form-control" id="razaedi" formControlName="raza" type="text" value="{{razaMascota}}">
                            <span class="form-text text-danger" *ngIf="miFormularioEditado.controls['raza'].errors 
                            && miFormularioEditado.controls['raza'].touched">Raza Mascota</span>
                            <label for="razaedi" class="text-dark">Raza</label>
                          </div><br>
                          <button class="btn editar" (click)="editarMascota(chipMascota)" [disabled]="miFormularioEditado.invalid" type="submit">Editar Mascota</button>
                          </div>
                    </form>
                </div>  
            </div>
            </div>      
        </div>
    </div>
</div>


<div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4>Añadir nueva mascota</h4>
            </div>
            <div class="modal-body">
              <div class="formulariologin mt-2 mb-2">

                <div class=" mt-2">
                    <form [formGroup]="miMascota" (ngSubmit)="hacerRegistro()">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre..." required><br>
                            <span class="form-text text-danger" *ngIf="miMascota.controls['nombre'].errors && miMascota.controls['nombre'].touched">Debes introducir un nombre válido</span>
            
                            <input class="mt-3" type="text" class="form-control" formControlName="especie" placeholder="Especie..." required><br>
                            <span class="form-text text-danger" *ngIf="miMascota.controls['especie'].errors && miMascota.controls['especie'].touched">Debes introducir una especie válida</span>
            
                            <input class="mt-3" type="text" class="form-control" formControlName="pelaje" placeholder="Pelaje..." required><br>
                            <span class="form-text text-danger" *ngIf="miMascota.controls['pelaje'].errors && miMascota.controls['pelaje'].touched">Debes introducir un pelaje válido</span>
            
                            <input class="mt-3" type="text" class="form-control" formControlName="raza" placeholder="Raza..." required><br>
                            <span class="form-text text-danger" *ngIf="miMascota.controls['raza'].errors && miMascota.controls['raza'].touched">Debes introducir una raza válida</span><br>
                            <div class="text-center">
                                <label for="sexo" class="inputSexo">Sexo: </label> <br>
                                <label class="mt-1" for="valor1">Hembra</label>
                                <input class="mt-3" type="radio"  value="Hembra" formControlName="sexo" id="valor1" checked>
                                <br>
                                <label for="valor2">Macho</label>
                                <input class="mt-3" type="radio"  value="Macho" formControlName="sexo" id="valor2" >
                                <br>
                                <label for="valor3">Otro</label>
                                <input class="mt-3" type="radio"  value="Otro" formControlName="sexo" id="valor3" >
                                <span class="form-text text-danger" *ngIf="miMascota.controls['sexo'].errors && miMascota.controls['sexo'].touched">Debes marcar una de las opciones</span>
                            </div>
            
                            <button class="mt-5 btn text-center editar" type="submit" [disabled]="miMascota.invalid">
                                Añadir Mascota
                            </button>
                        </div>
                    </form>
                    
                </div>  
            </div>
            </div>      
        </div>
    </div>
</div>