<div class="container-fluid row text-center mb-5" >
  <h1>GESTIÓN DE CITAS</h1>

  <div *ngIf="citas.length == 0" >
      <div class="nohay mt-5 mb-5">
          <h1 class="text-center texto">Ups!</h1>
          <h1 class="text-center texto">Parece que de momento no hay ninguna cita registrada en el sistema</h1><br><br>
      <div class="icono">
          <i class="fa fa-exclamation-circle fa-5x mb-5" aria-hidden="true"></i>
      </div>
      </div>
  </div>


  <div  *ngIf="citas.length > 0" class="container-fluid row text-center mb-5" >
      
      <div class="card text-center container-fluid col-lg-3 col-md-6 col-sm-12 col-xs-12 mt-4 mb-2" *ngFor="let cita of citas">
          
          <div class="card-body " >
              <p class="card-text bold">{{cita.mascota.nombre}}</p>
              <hr>
              <p class="card-text">FECHA: {{cita.fecha}}</p>
              <button class="btn borrar m-1" (click)="borrarCita(cita.id)" >Borrar</button>
          </div>
      </div>
  </div>
</div>



